Repository Seagate/cortx-rgw, pull requests merged in 2022-05, with the labels that each got.

#179 rgw_usage:CORTX-30360: Added Storage Stats as part of usage API to get capacity used by a user.
  src/rgw/rgw_usage.cc
Labels: rgw

#172 rgw_sal_motr: [CORTX-30344]PutBucketTagging: Sets tags for a bucket
  src/rgw/rgw_sal_motr.cc
Labels: rgw, Patrick, Status: Changes Requested

#186 rgw_sal_motr: [CORTX-30348] PutObjectTagging: Set tags for an object
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#178 rgw_sal_motr: [CORTX-29962] Optimise object storage size
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#187 rgw_op: [CORTX-31065] Fix Etag in Complete API response
  src/rgw/rgw_op.cc
Labels: rgw

#174 rgw_sal_motr: [CORTX-29112] Fix list-parts api for parallel multipart uploads.
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw, Patrick, Status: Changes Requested

#131 rgw_sal_motr: fix data leak on put error
  src/rgw/rgw_sal_motr.cc
Labels: rgw, Status: L2 Triage, Triage:DevTeam, Patrick, Status: Waiting for Review

#145 rgw_sal_motr: drop obsolete open_idx()
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw, Status: L2 Triage, Triage:DevTeam, Patrick, Status: Waiting for Review

#183 rgw_sal_motr: [CORTX-30790] Fix for max-uploads and prefix parameter in list multipart upload api
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#194 CORTX-30785: Fixing the Alex bug
  .github/workflows/alex_reviewdog.yml
Labels: CI

#190 rgw_rest_bucket: [CORTX-31085] Support `max-size` attr for SetBucketQuota
  src/rgw/rgw_rest_bucket.cc
Labels: rgw

#196 rgw-sal-motr:[CORTX-31313] Fix for bucket metadata update ops
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#199 rgw_sal_motr: [CORTX-31196]PutBucketTagging: Call put_info() with false to update the attributes
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#160 CORTX-30632: Added the submodule dispatch event
  .github/workflows/dispatch_submodule_update.yml
Labels: CI, Patrick, Status: Waiting to be Merged

#202 rgw: [CORTX-28065] fix issues with non-existing marker in list user api
  src/rgw/rgw_admin.cc
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#189 rgw_sal_motr : [CORTX-27638] : Fix for Head and Get object with version-id parameter
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#203 rgw_sal_motr : [CORTX-30347]: DeleteBucketTagging : Fixed merge_and_save method to incorporate and update deleted attributes
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#198 rgw_sal_motr: [CORTX-31087] Support delimiter parameter for multipart uploads.
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#197 rgw_sal_motr: [CORTX-31066] Fix multipart object download
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#195 rgw_sal_motr: [CORTX-30178] Generate version-id based on timestamp
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#207 rgw_sal_motr : [CORTX-30180] Fix for is-latest flag issue
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#206 rgw_sal_motr: [CORTX-31312] PutObjectTagging: Update attributes for an object
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#200 rgw_sal_motr : [CORTX-30178] Fix for handling null version-id issues
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#223 rgw_sal_motr: [CORTX-31594] fix getting corrupted data
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#219 rgw_sal_motr :[CORTX-31533] Fix delete-object API for unversioned object
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#220 rgw_sal_motr: [CORTX-30149] Added versioning support for complete multipart upload API
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#182 rgw_sal_motr: [CORTX-29873] - improve logging in rgw sal
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#221 rgw_sal_motr: [CORTX-31435] ObjectTagging: Refactoring set and get obj_attrs
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#215 rgw_sal_motr: [CORTX-30362] Add & Update User Stats Index Table
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#232 rgw_sal_motr: [CORTX-29873] - improve logging in rgw sal
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#230 rgw_sal_motr : [CORTX-30149] Fix for handling null version-id issues in multipart upload
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#237 rgw_sal_motr : [CORTX-30149] Fix multipart object issues in Delete Object API for unversioned bucket
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#238 rgw_sal_motr :[CORTX-30184]: Fix delete-object with null version in version suspended bucket
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#240 rgw_sal_motr:[CORTX-30184] Fix get/head object issue in case of delete-marker entry is current entry present in the bucket.
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#241 rgw_sal_motr : [CORTX-30149] Fix GET object issues in multipart upload
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#243 rgw_sal_motr: [CORTX-30178] Handling null version-id use case, Enabling versioning for Multipart APIs, Delete and Bulk Delete APIs
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#244 rgw_sal_motr: [CORTX- 31606] : Enabling versioning support for Object Tagging APIs
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#224 rgw_sal_motr: [CORTX-31438] Fix for overwrite of multipart object with simple object
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#231 rgw_sal_motr, rgw_usage : [CORTX-30363] Support User Stats
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
  src/rgw/rgw_usage.cc
Labels: rgw

#247 Handle multipart part overwrite
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#142 rgw_sal_motr: [CORTX-29019] Instrument RGW with ADDB probes
  src/common/options/rgw.yaml.in
  src/rgw/motr/addb/README.md
  src/rgw/motr/addb/rgw_addb.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: documentation, common, rgw, build/ops, Status: L2 Triage, Triage:DevTeam, Patrick, Status: Changes Requested
