Repository Seagate/cortx-rgw, pull requests merged in 2022-02, with the labels that each got.

#65 DCO check workflow for RGW
  .github/workflows/dco-check.yml
Labels: CI

#75 EOS-28049: Fix for Radosgw admin tool with motr
  src/common/options/rgw.yaml.in
  src/rgw/rgw_admin.cc
  src/rgw/rgw_sal_motr.cc
Labels: common, rgw, build/ops

#73 Close connection with Motr
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#78 rgw_sal_motr: [EOS-27563] Initiate default values for Zonegroup
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#72 rgw_sal_motr: [EOS-27520] Changes for empty bucket deletion.
  src/rgw/rgw_sal_motr.cc
Labels: documentation, CI, pybind, dashboard, common, rgw, build/ops, api-change, mon, mgr, cephadm, orchestrator, bluestore, core, crimson, cephfs, rbd, tests, nfs, monitoring

#85 rgw_sal_motr: rename admin_motr to motr_admin
  src/common/options/rgw.yaml.in
  src/rgw/rgw_sal_motr.cc
Labels: common, rgw

#86 rgw_sal_motr: [CORTX-28690] Fix for incorrect LastModified time in GetObj API
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#91 rgw_sal_motr: [CORTX-27650] Creating bucket with same name does not fail
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#90 CORTX-28052: Create User for same UID with different Tenant
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#89 rgw_sal_motr: [EOS-27516] Handling object overwrite during put-object
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: common, rgw

#88 CORTX-28054: Delete IAM user
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#92 rgw_sal_motr: [CORTX-28693] Conditional Param support for GetObj
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#101 CORTX-28869:Unable to create IAM user with email
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#110 rgw_sal_motr: [CORTX-28960] fix for get zero-byte obj failure.
  src/rgw/rgw_sal_motr.cc
Labels: rgw
