Repository Seagate/cortx-rgw, pull requests merged in 2022-07, with the labels that each got.

#340 rgw_sal_motr: [CORTX-32402] Fix for AbortMultipartUpload failing with NoSuchKey
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#345 rgw_motr_sal: [CORTX-32463] fix GET api for object starting from '_'
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#341 rgw_sal_motr: [CORTX-32487] update stats behavior on multipart upload
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#352 rgw_sal_motr : [CORTX-32966] Fix memory leaks in RGW
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#349 rgw_sal_motr: [CORTX-32463] handle _ (underscore) in object key name
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#357 rgw_sal_motr: Fix Codacy warning in ADDB readme file
  src/rgw/motr/addb/README.md
Labels: documentation, rgw

#355 rgw_sal_motr: [CORTX-31442] Enable tagging for copy-object
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#356 rgw_sal_motr, motr_gc: [CORTX-33148] add MotrGC, MotrGC::GCWorker infra code
  src/rgw/CMakeLists.txt
  src/rgw/motr/gc/gc.cc
  src/rgw/motr/gc/gc.h
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw, build/ops

#363 rgw: [CORTX-33179] GC Metadata Implementation
  src/rgw/motr/gc/gc.cc
  src/rgw/motr/gc/gc.h
Labels: rgw

#367 rgw: [CORTX-31349] Fix for user list api with special characters in max-entries attribute
  src/rgw/rgw_rest_user.cc
Labels: rgw

#361 rgw_sal_motr : [CORTX-32361] Fix invalid version-id-marker issue in a List Object Versions API
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#369 rgw_sal_motr: [CORTX-33664] Add `NotImplemented` error for uploadPartCopy operation
  src/rgw/rgw_op.cc
Labels: rgw
