Repository Seagate/cortx-rgw, pull requests merged in 2022-06, with the labels that each got.

#257 rgw_sal_motr: [CORTX-30354]: Revert "rgw_sal_motr: [CORTX-30354]: Get object tags count using get-object"
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#251 rgw_sal_motr : [CORTX-31850] Fix for empty size object deletion in un-versioned bucket
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#248 rgw_sal_motr : [CORTX-30347]: MotrMultipartUpload: Add object tags with CreateMultipartUpload API
  src/rgw/rgw_sal_motr.cc
Labels: documentation, common, rgw

#259 rgw_sal_motr: [CORTX-31201] Add User & Bucket Quota Validation
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#268 rgw_sal_motr: optimise range get
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#254 Handle error from m0_layout_find_by_objsz()
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#265 rgw_sal_motr : [CORTX-31843] Fix delete objects API issues in multipart upload
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#274 rgw_rest_user: [CORTX-32088] Accept `check_on_raw` arg for SetUserQuota
  src/rgw/rgw_rest_user.cc
Labels: rgw

#269 rgw_sal_motr : [CORTX-30347]: MotrMultipartUpload: Add object tags with CreateMultipartUpload API
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#264 rgw_sal_motr: [CORTX-31925] Fix object leak for null version object.
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#281 Revert "rgw_sal_motr.cc: [CORTX-31836] Implement "size_actual" calculation per object"
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#258 rgw: [CORTX-31953] Fixed Broken S3 Condition Key s3:VersionId
  src/rgw/rgw_op.cc
Labels: rgw

#283 rgw_rest_bucket:[CORTX-31201] Enable `check_on_raw` for set individual-bucket-quota
  src/rgw/rgw_rest_bucket.cc
Labels: rgw

#286 rgw_sal_motr: [CORTX-31877] Support Stat counting for Multipart & Obj OverWrite case
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#291 rgw, rgw_sal_motr: [CORTX-31877] Add features to User Stats Calculation
  src/rgw/rgw_multi.h
  src/rgw/rgw_obj_manifest.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#292 rgw, rgw_sal_motr: [CORTX-31877] Add features to User Stats Calculation
  src/rgw/rgw_multi.h
  src/rgw/rgw_obj_manifest.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#275 rgw_sal_motr : [CORTX-31969] Update the delimiter for null reference entry
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#277 rgw_sal_motr : [CORTX-31876] for unversioned/suspended bucket, skip versionId parameter for GET/HEAD object API response
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#294 rgw_sal_motr:[CORTX-32120] get-object is failing for invalid null version-id.
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#297 rgw_sal_motr: [CORTX-32035] Fix for IAM Policy: Delete Bucket action is not working
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#233 rgw_sal_motr: [CORTX-31439] Add support for copy object in same zonegroup
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#267 rgw_sal_motr: [CORTX-31638] add log for motr object details
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#279 rgw_sal_motr: [CORTX-31617] fix reading in degraded mode
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#285 rgw_sal_motr:[CORTX-31962] Fix delete-marker's issue in case of suspended bucket.
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#288 rgw_sal_motr: [CORTX-32141] fix possible RMW on writes
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#302 rgw_sal_motr: [CORTX-32235] Fix for Delete Bucket failing for user with two set of keys
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#305 rgw_sal_motr: [CORTX-32291] fix crash on reading mpart obj
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#307 rgw_sal_motr: [CORTX-32310] fix obj size on put
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#308 rgw_sal_motr: [CORTX-32135] Fix for mismatch in response for `List Objects` with delimiter
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#318 rgw: [CORTX-29924] Uncommented IPPolicyTest unittests
  src/test/rgw/test_rgw_iam_policy.cc
Labels: rgw, tests

#298 rgw: [CORTX-32034] Fixed same Sid issue in put-user-policy operation
  src/rgw/rgw_iam_policy.cc
Labels: rgw

#313 rgw_sal_motr: [CORTX-32326] fix redundant mdata i/o
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#317 rgw: [CORTX-31445] - fix conditional parameter for copy-object api
  src/rgw/rgw_rest_s3.cc
Labels: rgw

#323 rgw: [CORTX-32389] Fix for IAM IPPolicyTest crash
  src/rgw/rgw_op.cc
Labels: rgw

#314 rgw_sal_motr:[CORTX-31978] Refactoring delete marker code.
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#320 rgw_sal_motr: [CORTX-32383] fix null-version in list-object-versions
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#319 rgw_sal_motr:[CORTX-32128] Restricted adding tags to delete marker metadata
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#331 Revert "rgw_sal_motr: [CORTX-32383] fix null-version in list-object-versions"
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#325 rgw_sal_motr : [CORTX-32424] Fix for delete previous object using version-id
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#333 rgw_sal_motr: [CORTX-32383] fix null-version in list-object-versions
  src/rgw/rgw_sal_motr.cc
Labels: rgw

#332 rgw_sal_motr : [CORTX-31446] Copy-object: send keep alive to client to avoid req timeout
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#326 rgw_sal_motr: [CORTX-32423] fix listing of same-prefix objs
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw
